/*About-page style*/
.About {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
}
/*image style*/
.About-image img {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}
/*About-page text style*/
.About-text {
  max-width: 600px;
  font-family: sans-serif;
  text-align: left;
}

.About-text h2 {
  font-size: 30px;
  margin-bottom: 16px;
  border-bottom: 2px solid #000;
  
}

.About-text p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #333;
  text-align: left;
}

.strength-text {
  display: inline-block;
  max-width: 450px;
  font-size: 19px;
  line-height: 1.6;
}

/*button style*/
.resume-button {
  margin-top: 5px;
  padding: 8px 16px;
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  font-size: 30px;
  transition: 0.3s ease;
}

.resume-button:hover {
  background-color: red;
  color: white;
}