/*Contact form-card style*/
.form {
  width: 500px;
  height: 480px;
  background: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 40px -20px #000;
  margin: auto;
  padding: 40px 80px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form p {
  margin: 0;
  font-size: 16px;
  color: #000;
}
/*text gap text to text*/
.contact-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px; 
  margin: 10px 0;
  width: 100%;
}
/*icon style*/
.contact-icon {
  font-size: 30px;
  color: #333;
}
/**/
.sns {
  display: flex;
  font-size: 45px;
  gap: 16px;
  justify-content: center;
}