  /*
  FileName: Home.css
  Name:Chunghyun Lee
  Student number: 301000913
  Course: COMP229-401
  Date: 2025/05/22
  */

/*Homepage text position and style*/
.intro {
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin-top: 70px;
  text-align: center;
}

.intro-text h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #111;
  margin-bottom: 20px; 
}

.intro-text h3 {
  color: #111;
  font-size: 1.1rem;
  margin-bottom: 30px; 
}
/*Homepage button style*/
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 40px; 
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid black;
}

.button:hover {
  background-color: red;
  color: white;
}

/*Home page intro img*/
.intro-image {
  text-align: center;
}

.intro-image img {
  max-width: 30%;
  height: auto;
  margin: auto;
}