 /*
  FileName: Layout.css
  Name:Chunghyun Lee
  Student number: 301000913
  Course: COMP229-401
  Date: 2025/05/22
  */

/*header style*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
/*header logo*/
.logo{
    max-height: 100px;
    margin-right: 50px;
    width: 50%;
}

.logo > img {
  height: 90px;
}
/*navigation bar stlye*/
.nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0; 
}

.nav a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  font-size: 21px;
}


















