/* card styles */
.card__inner {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 20px; 
}

.card {
  flex: 0 0 calc(33.333% - 13.33px);
  background: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  background: #fff;
  border-radius: 6px;
}

.card figure {
  margin: 0;
  height: 300px;              
  display: flex;
  align-items: center;       
  justify-content: center; 
  background: #fff;
}

/*card text header and content*/
.card__body {
  padding: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
/*tittle*/
.card__body .tit {
  font-size: 24px;
  margin-bottom: 0px;
}
/*contents*/
.card__body .desc {
  font-size: 18px;
  text-align: left;
  line-height: 1.4;
  color: black;
  margin-bottom: 2px;
  font-weight: 300;
}

/* Project Buttons */
/*BTN icons*/
.project__links {
  margin-top: auto;        
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  padding-top: 12px;
}


.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn.demo {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
}

.btn.github {
  background: #111;
  color: white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
  opacity: 0.9;
}



/* Mobile Responsive: 1 column card */
@media (max-width: 768px) {
  .card__inner {
    justify-content: center; 
  }

  .card {
    flex: 0 0 100%;
  }

  .card img {
    height: auto; 
  }
}