 /*
  FileName: Project.css
  Name:Chunghyun Lee
  Student number: 301000913
  Course: COMP229-401
  Date: 2025/05/22
  */


/* card styles */
.card__inner {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 20px; 
}

.card {
  flex: 0 0 calc(33.333% - 13.33px);
  background: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  height: 420px;
}
/*card text header and content*/
.card__body {
  padding: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
/*tittle*/
.card__body .tit {
  font-size: 24px;
  margin-bottom: 0px;
}
/*contents*/
.card__body .desc {
  font-size: 18px;
  text-align: left;
  line-height: 1.4;
  color: black;
  margin-bottom: 2px;
  font-weight: 300;
}

/* Mobile Responsive: 1 column card */
@media (max-width: 768px) {
  .card__inner {
    justify-content: center; 
  }

  .card {
    flex: 0 0 100%;
  }

  .card img {
    height: auto; 
  }
}