  /*
  FileName: Service.css
  Name:Chunghyun Lee
  Student number: 301000913
  Course: COMP229-401
  Date: 2025/05/22
  */
  
/*section style*/
.tech-stack {
  padding: 40px;
  background: white;
  color: #fff;
  font-family: sans-serif;
}
/*h2,h3 tech-card box style*/
.tech-stack h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.tech-group h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: black;
  text-align: left;
}
.tech-group {
  margin-bottom: 40px;
}
/*Arrange icon letters line*/
.tech-items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
/* card style */
.tech-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: gray; /*card-background colour*/
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  transition: transform 0.2s;
}

.tech-card:hover {
  transform: scale(1.05);
}

/* icon */
.icon-component {
  font-size: 24px;
}
.icon-text{
  display: flex;
  align-items: center;
  gap: 8px; 
}
