/*common site padding setting*/
#root {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 2px;
  text-align: center;
}
/*common body style*/
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}
/*common h1,h2 style*/
h1 {
  font-size: 3.2em; /*Project page h1 font-size*/
  line-height: 1.1;
}

h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  color: #000;
  border-bottom: 3px solid #000;
}

/*whole site button setting*/
button {
  border-radius: 8px;
  padding: 0.6px 1.2px;
  font-size: 1px;
  font-weight: 500;
  font-family: inherit;
  background-color: #000;
}
